<%= form_for @user do |f| %>
<%= render partial: 'shared/error_messages', locals: {obj: f.object} %>

<div class="form-horizontal">

  <!-- Check if username is available -->
  <div class="form-group required">
    <div class="col-xs-6 col-md-6">
     <%= f.label :display_name, "Display Name" %>
     <%= f.text_field :display_name, class: 'form-control',
         required: "required" %>
   </div>
  </div>

  <div class="form-group required">
    <div class="col-xs-6 col-md-6">
     <%= f.label :first_name, "First Name" %>
     <%= f.text_field :first_name, class: 'form-control',
          required: "required" %>
   </div>

   <div class="col-xs-6 col-md-6">
     <%= f.label :last_name, "Last Name" %>
     <%= f.text_field :last_name, class: 'form-control' %>
   </div>
 </div>

 <div class="form-group required">
   <div class="col-xs-2 col-md-2">
     <%= f.label :dob, "Year Born" %>
     <%= f.select :dob, options_for_select(birth_years, @user.dob), {},
         { :class => 'form-control', :required => "required"} %>
   </div>
 </div>

 <div class="form-group required">
  <div class="col-xs-8 col-md-12">
   <%= f.label :email %>
   <%= f.text_field :email, class: 'form-control', required: "required" %>
  </div>
 </div>

<% if session[:user_id].nil? %>
  <div class="form-group required">
    <div class="col-xs-8 col-md-12">
     <%= f.label :email_confirmation, "Email Confirmation" %>
     <%= f.email_field :email_confirmation, class: 'form-control', 
         required: "required" %>
   </div>
  </div>
<% end %>

  <div class="form-group">
    <% if !session[:user_id].nil? %>
      <div class="col-xs-12 col-md-12">
        <%= f.label :profile_picture, "Profile Picture" %>
        <%= f.file_field :profile_picture %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-md-12">
  	<%= f.label :about_me, "About Me" %>
  	<%= f.text_area :about_me, :size => "10x5", class: 'form-control',
        placeholder: "Write something about yourself here, nerd." %>
    </div>
  </div>

  <div class="form-group required">
    <div class="col-xs-6 col-md-6">
      <%= f.label :city, "City" %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>

    <div class="col-xs-6 col-md-6">
      <%= f.label :state, "State" %>
      <%= f.select :state, options_for_select(us_states, @user.state), {},
         { :class => 'form-control', :required => "required"} %>
    </div>
  </div>

  <% if !@user.address.nil? %>
    <div class="form-group">
      <div class="col-xs-6 col-md-6">
      	<b> Latitude: </b> <%= @user.latitude %>
      	<b> Longitude: </b> <%= @user.longitude %>
      </div>
    </div>
  <% end %>

  <% if session[:user_id].nil? %>
    <div class="form-group required">
      <div class="col-xs-6 col-md-6">
       <%= f.label :password %>
       <%= f.password_field :password, class: 'form-control',
           required: "required" %>
     </div>

     <div class="col-xs-6 col-md-6">
       <%= f.label :password_confirmation, "Password Confirmation" %>
       <%= f.password_field :password_confirmation, class: 'form-control',
           required: "required" %>
     </div>
   </div>
  <% end %>

  <% if session[:user_id].nil? %>
    <div class="form-group required">
      <div class="col-xs-10 col-xs-offset-2 col-md-6">
        <%= f.check_box :terms, required: "required" %>
          I am at least 13 years old and agree to Tremelo's 
          <%= link_to "Terms of Service", "#myModal",
              "data-toggle" => "modal" %>

          <!-- Terms of Service Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">
                    Web Site Terms and Conditions of Use
                  </h4>
                </div>
                <div class="modal-body">
                  <%= render "/shared/terms_of_service" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-normal" 
                    data-dismiss="modal">
                    Sign My Life Away
                  </button>
                </div>
              </div>
            </div>
          </div><!-- End of modal -->

      </div>
    </div>

      <%= f.submit "Sign Up", class: "btn btn-block" %>
    <% else %>
      <%= f.submit "Update", class: "btn btn-block" %>
    <% end %>

<% end %>

</div>