<% provide(:title, "Change Password") %>
<h1> Change your password </h1>

<% if @user.id == session[:user_id] %>

  <%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= password_field_tag :current_password, params[:current_password], placeholder: "Current password" %>
  <%= f.password_field :password, placeholder: "New password" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm new password" %>

  <%= f.submit "Change password", class: "btn btn-primary" %>
  <% end %>
<%end%>