<% provide(:title, 'Edit Your Profile') %>

<div class="container">

  <h1 class="page-heading">Edit Your Profile</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= render 'form' %>
        <br><br>

        <!-- This needs its own form page I would think -->

        <h4><strong>Edit Bands </strong></h4>
        <h4> <%= link_to "Create a new Band", {controller: "bands", action: "new"} %></h4>
        <% userbands = UserBand.where(user_id: @user.id) %>
        <% if userbands.empty? %>
          <p> 
            <%= @user.display_name %> does not belong to any bands - yet
          </p>
        <% else %>
          <ul>
          <% userbands.each do |userband| %>
            <% band = Band.find(userband.band_id) %>
              <li><%= link_to band.name, band %>
                ( <%= link_to "Leave", {controller: "users", action: "leave_band", 
                                        userband_id: userband.id}%> )
              </li>

          <%end%>
        </ul>
        <%end%>
        <br><br>
        <%= link_to "Add Profile Picture",{controller: "users", action: "upload_pic"} %><br>
        <%= link_to "Edit Tags", {controller: "users", action: "edit_tags"} %>
        <br><br>
        <%= link_to 'Back', @user %>
        </div>
    </div>
</div>
