<% provide(:title, @user.email) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<h4><strong> Location </strong> </h4>
<b> Address: </b> <%= @user.address %><br>
<b> Latitude: </b> <%= @user.latitude %> <br>
<b> Longitude: </b> <%= @user.longitude %> <br>

<br><br>
<h4><strong> Bands </strong></h4>
<% userbands = UserBand.where(user_id: @user.id) %>
<% if userbands.empty? %>
  <p> <%= @user.display_name %> does not belong to any bands - yet </p>
<% else %>
  <ul>
  <% userbands.each do |userband| %>
    <% band = Band.find(userband.band_id) %>
      <li><%= link_to band.name, band %></li>
  <%end%>
</ul>
<%end%>
<br>

<!-- Prevent anyone but the correct user from even seeing the edit link -->
<% if @user.id == session[:user_id] %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>