<h3> Add members to your band! </h3>
BAND_PARAMS: <%= if params.has_key?(:id)%>

<br>
<%= render layout: 'form' do |band_form| %>
	<%= band_form.fields_for :users do |builder| %>
		<%= render 'user_fields', builder:builder %>
	<%end%>
		<p><%= band_form.link_to_add "Add a Member", :users %></p>
	<br>
<%end%>
 <%= link_to "skip this step", next_wizard_path %><br>
     <%= link_to "Back", previous_wizard_path %>