<h1>Bands#edit</h1>
<p>Temporary edit page</p>
<% userband = UserBand.find_by(user_id: session[:user_id], band_id: @band.id) %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
			<% session[:band_id] = @band.id %>

		<%= form_for(@band) do |f| %>
			
			<%= f.label :name, "Name" %>
			<%= f.text_field :name, class: "form-control" %>
		
			<br>
			<%= f.label :about_me, "About Me" %>
			<%= f.text_field :about_me, class: "form-control" %>
			<br>

			<%= f.label :full_address, "Location" %>
    		<%= f.text_field :full_address, class: 'form-control' %>

	    	<% if !@band.full_address.nil? %>
    			<b> Latitude: </b> <%= @band.latitude %>
    			<b> Longitude: </b> <%= @band.longitude %>
    			<br>
    		<% end %>

			<%= f.submit "Create your Band!", class: "btn btn-primary"%>
		<%end%>
	</div>
</div>
<br><br>
<%= link_to "Add/Change the band's Profile Picture",{controller: "bands", action: "upload_pic"} %>
<br><br>

<%= link_to "Add a member to this band" %>
