<% provide(:title, "Editing Videos") %>

<div class="container">
  <div class="col-md-8 col-md-offset-2">

  	<h1 class="page-heading">More Videos, More Problems</h1>
  	<p class="subtitle">
  		Link your band's music videos from Youtube
  	</p>

  	<div class="form-horizontal">
  		<%= form_tag update_videos_band_path, method: :put do |f| %>

  		<h3>Add a New Video</h3>

  		<div class="form-group">
  			<div class="col-xs-8 col-md-8">
  				<%= label_tag "Video Name", nil, class: "control-label" %>
  				<%= text_field_tag "video_name", nil, class: "form-control",
  						required: "required" %>
  			</div>
  		</div>

  		<div class="form-group">
  			<div class="col-md-10">
  				<%= label_tag "Enter the link to your video" %>
  				<%= text_field_tag "video_link", nil, class: "form-control", 
              required: "required" %>
  			</div>
  		</div>

      <div class="form-group">
        <div class="col-md-12">
      		<p>
            Don't like an old video? <%= link_to "Click here", delete_videos_band_path(@band) %> to delete the videos you don't want
          </p>

      		<ul>
      			<% for video in BandVideo.where(band_id: @band.id) %>
      			<li> <%= video.video_name %>
      				<%= check_box_tag "video_ids[]", video.id %>
      			</li>
      			<%end%> 
      		</ul>

        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= submit_tag "Submit Changes", class: "btn btn-block" %>
        </div>
      </div>

	<% end %>

	</div>
	</div>
</div>