<% provide(:title, "Edit your band's genres") %>

<div class="container">
  <div class="col-md-8 col-md-offset-2">

		<h1 class="page-heading">Edit your Band's Genres!</h1>
		<p class="subtitle">
			Select the genres you wish to be included on your band's profile
		</p>

	<div class="form-horizontal">
		<%= form_tag update_genres_band_path, method: :put do %>

		<div class="form-group">
			<ul>
				<% for genre in Genre.all %>
					<li>
						<% bandgenre = BandGenre.find_by(band_id: @band.id, 
														genre_id: genre.id) %>
						<% if bandgenre.nil? %>
							<%= check_box_tag "genre_ids[]", genre.id %>
						<% else %>
							<%= check_box_tag "genre_ids[]", genre.id, checked: "checked" %>
						<% end %>
						<%= genre.content %>
					</li>
				<% end %>
			</ul>
		</div>

		<div class="form-group">
				<%= submit_tag "Save Genres", class: "btn btn-block" %>
			</div>
		</div>

		<% end %>
	</div>

	</div>
</div>