<% provide(:title, "Editing #{@band.name}") %>

<div class="container">
  <div class="col-md-8 col-md-offset-2">


  <h1 class="page-heading">Make Some Changes</h1>
  <p class="subtitle">
    Edit the profile page for <%= @band.name %>
  </p>

  <% userband = UserBand.find_by(user_id: session[:user_id], 
      band_id: @band.id) %>

  <% session[:band_id] = @band.id %>

  <div class="form-horizontal">

    
      <%= render partial: 'form' %>

    <div class="form-group">
      <div class="col-md-8">
    
        <li>
          <%= link_to "Edit Genres", edit_genres_band_path(@band.name) %>
        </li>

        <li>
          <%= link_to "Add/Delete Videos", new_band_band_video_path(@band) %>
        </li>

        <li>
          <%= link_to "Add/Change " + @band.name + " profile picture", 
          {controller: "bands", action: "upload_pic"} %>
        </li>

        <li>
          <%= link_to "Add Band Members", search_for_user_band_path %>
        </li>
        
      </div>
    </div>

  </div>

  </div>
</div>

