<% provide(:title, "Editing #{@band.name}") %>

<div class="container">

  <h1 class="page-heading">Make Some Changes</h1>
  <p class="subtitle">
    Edit your band's profile information here
  </p>

  <% userband = UserBand.find_by(user_id: session[:user_id], 
      band_id: @band.id) %>

      <% session[:band_id] = @band.id %>

      <%= form_for(@band) do |f| %>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-8 col-md-8">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-8 col-md-8">
            <%= f.label :full_address, "Location" %>
            <%= f.text_field :full_address, class: 'form-control' %>
          </div>
        </div>
      </div>


      <%= f.label :about_me, "About Me" %>
      <%= f.text_field :about_me, class: "form-control" %>

      <% if !@band.full_address.nil? %>
        <b> Latitude: </b> <%= @band.latitude %>
        <b> Longitude: </b> <%= @band.longitude %>
      <% end %>

      <% if params[:id].nil? %>
      <%= f.submit "Create your Band!", class: "btn btn-block"%>
      <% else %>
      <%= f.submit "Save Changes", class: "btn btn-block"%>
      <% end %>

      <%end%>
  	</div>
  </div>
  <br><br>
  <%= link_to "Add/Delete Videos", edit_videos_band_path(@band) %>
  <br><br>
  <%= link_to "Add/Change the band's Profile Picture",{controller: "bands", action: "upload_pic"} %>
  <br><br>

  <%= link_to "Add a member to this band" %>

</div>
