<% provide(:title, 'User Search') %>

<div class="container">
	<h1 class="page-heading">Search for a User</h1>

	<div class="form-horizontal">

		<%= form_for user_search_results_band_path, method: :post do |f| %>

		<div class="form-group">
			<div class="col-xs-6 col-md-6">
				<%= f.label :display_name, "Display Name" %>
				<%= f.text_field "display_name",
				class: "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-8 col-md-8">
				<%= f.label :instrument_tags, "Instrument Tags"%> (returns users with any instrument tags checked)

				<% for tag in Tag.all %>
				<li>
					<%= check_box_tag "tag_ids[]", tag.id %>
					<%= tag.content %>
				</li>
				<% end %>
			</div>
		</div>
		
		<!-- This will be a checkbox that decides whether to search instrument tags -->
		<!-- With AND or OR functionality -->
		<div class="form-group">
			<div class="col-xs-6 col-md-6">
				<%= f.check_box "exact_tags"%>
				<%= f.label :exact_tags, "Find users with exactly these tags" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-4 col-md-4">
				<%= f.label "Location (City, State):" %>
				<%= f.text_field "location", class: "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-4 col-md-4">
				<%= f.label "Search Radius (in miles)" %>
				<%= f.text_field "distance", class: "form-control" %>
			</div>
		</div>

		<%= f.submit "Search", class: "btn btn-block" %>
		<% end %>

	</div>
</div>