<% provide(:title, 'Band Search') %>

<div class="container">

	<h1 class="page-heading">Search for a band!</h1>

	<%= form_tag search_results_bands_path, method: :post do %>

		<%= label_tag "Band Name" %><br>
		<%= text_field_tag "name" %>
		<br><br>



		<%= label_tag "Genre Tags"%> (returns users with any instrument tags checked)
		<% for tag in Genre.all %>
			<li>
				<%= check_box_tag "tag_ids[]", tag.id %>
				<%= tag.content %>
			</li>
		<% end %>
		
	<!-- This will be a checkbox that decides whether to search instrument tags -->
		<!-- With AND or OR functionality -->
		<%= label_tag "Find users with exactly these tags: " %>
		<%= check_box_tag "exact_tags"%><br>
		<br>

		<%= label_tag "Location (city, state):" %><br>
		<%= text_field_tag "location"%>
		<br>
		<%= label_tag "Allowed distance" %><br>
		<%= text_field_tag "distance"%>
		<br><br>

	<%= submit_tag "Search" %>
<% end %>

</div>