<% provide(:title, "#{@band.name}") %>

<br>
<div class="container">

<!-- Band name and tags -->
  <div class="row">

      <div class="col-xs-3">
        <div class="panel panel-default text-center">
        	<%= image_tag @band.profile_picture.url(:small) %> 
          </div>
      </div>

      <div class="col-xs-9 col-md-9">
      <h1 class="display-name"><%= @band.name %></h1>

        <% for band_genre in BandGenre.where(band_id: @band.id) %>
          <% genre = Genre.find(band_genre.genre_id) %>
          <%= content_tag(:span, "#{genre.content}", :class => 'label label-danger', 
          :style => "background-color: rgb(#{genre.get_red},#{genre.get_green},#{genre.get_blue}") %>

        <% end %>
    </div>
  </div>

  <!-- Left Column -->
  <div class="row">
    <div class="col-sm-3">

		<!-- Info Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
        	Info
        </div>

        <ul class="list-group">

				<!-- Year Formed -->
        <li class="list-group-item text-right">
        	<span class="pull-left">
        		<strong class="">Formed</strong>
        	</span>
        	2011
        </li>

        <!-- Location-->
        <li class="list-group-item text-right">
        	<span class="pull-left">
        		<strong>Location</strong> 
        	</span> 
        	<%= @band.location %>
        </li>

      </ul>
    </div>

    	<% @userbands = UserBand.where(band_id: @band.id) %>

      <!-- Member Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
            Members
        </div>

        <ul class="list-group">

	        <% if @userbands.empty? %>

		        <h3> No users are members of this band</h3>

	        <% else %>

	        <% @userbands.each do |userband| %>
		        <% user = User.find(userband.user_id) %>
			        <li class="list-group-item text-right">
			        	<span class="pull-left">
			        		<strong class="">Role</strong>
			        	</span>
			        	<%= user.first_name + " " + user.last_name %>
			        </li>
		        <% end %>
	        <% end %>

      </ul>
    </div>

      <!-- Band Website Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
        Website   <i class="fa fa-external-link"></i>
        </div>
        <div class="panel-body">
          <a href="#" class="">Band Website</a>
        </div>
      </div>

      <!-- Activity Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
            Activity <i class="fa fa-dashboard"></i>
        </div>

        <ul class="list-group">

        <li class="list-group-item text-right">
            <span class="pull-left">
              <strong class="">Shares</strong>
            </span> 
            125
          </li>
          <li class="list-group-item text-right">
            <span class="pull-left">
              <strong class="">Fans</strong>
            </span> 
            78
          </li>
        </ul>

      </div>

      <!-- Social Media Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Social Media
        </div>
        <div class="panel-body"> 
          <i class="fa fa-facebook-official fa-2x"></i> 
          <i class="fa fa-twitter fa-2x"></i> 
        </div>
      </div>

      <!-- Prevent anyone but the correct user 
           from seeing the edit link -->
      <% if @band.id == session[:band_id] %>
        <%= button_to 'Edit Profile', edit_band_path(@band),
            class: 'btn btn-block', :method => :get %>
      <% end %>


    </div> <!-- End left side panels -->

    <!-- About Me-->
    <div class="col-sm-9" contenteditable="false">
      <div class="panel panel-default">
        <div class="panel-heading"> 
          Bio
        </div>
        <div class="panel-body"> 
          <%= @band.about_me %>
        </div>
      </div>

      <!-- Music Panel -->
      <div class="panel panel-default">
        <div class="panel-heading" contenteditable="false">
          Music
        </div>
        <div class="panel-body">

          <div class="row">

          	<div class="col-xs-6 col-md-4">
	          	<a href="#" class="thumbnail">
	          		<img 
                src="http://upload.wikimedia.org/wikipedia/en/6/6b/Pixies-Doolittle.jpg">
	          	</a>
	          </div>

          	<div class="col-xs-6 col-md-4">
          		<a href="#" class="thumbnail">
          			<img 
                src="http://upload.wikimedia.org/wikipedia/en/2/29/De-Loused_in_the_Comatorium.jpeg">
	            </a>
	          </div>

          	<div class="col-xs-6 col-md-4">
          		<a href="#" class="thumbnail">
          			<img 
                src="http://upload.wikimedia.org/wikipedia/en/7/71/Cloud_Nothings_Attack_on_Memory_album_cover.jpg">
              </a>
            </div>

          </div><!-- End of row -->

        </div>
      </div>

      <h2>Videos</h2>

      <% for video in BandVideo.where(band_id: @band.id) %>
	      <h4><%= video.video_name %></h4>
	      <br>
	      <%= video.video_link_html %>
      <% end %>

      <% loggedin_userband = UserBand.find_by(user_id: session[:user_id], band_id: @band.id) %>
      <% if !loggedin_userband.nil?%>
	      <% if loggedin_userband.admin_priveleges == 1 %>
		      <%= link_to 'Edit', edit_band_path(@band) %>
	      <% end %>
      <% end %>

    </div>

</div>

<!-- SoundCloud stuff -->
	<div style='width: 800px;'>
    <div id="custom_builder" style='width: 800px; height: 400px;'></div>
  </div>
  	<iframe width="500px" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/194149128&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
