<% provide(:title, "#{@band.name}") %>

<br>
<div class="container">

  <!-- Band name and tags -->
  <div class="row">

    <div class="col-xs-3">
      <div class="panel panel-default text-center">
      	<%= image_tag @band.profile_picture.url(:small) %> 
      </div>
    </div>

    <div class="col-xs-9 col-md-9">
      <h1 class="display-name"><%= @band.name %></h1>

      <% for band_genre in BandGenre.where(band_id: @band.id) %>
        <% genre = Genre.find(band_genre.genre_id) %>
        <%= render partial: 'genres/display', locals: {genre: genre} %>

      <% end %>
    </div>
  </div>

  <!-- Left Column -->
  <div class="row">
    <div class="col-sm-3">

		<!-- Info Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
        	Info
           <% if @user_verified%>
              (<%= link_to "Edit", edit_band_path %>)
          <% end %>
        </div>

        <ul class="list-group">

				<!-- Year Formed -->
        <li class="list-group-item text-right">
        	<span class="pull-left">
        		<strong class="">Formed</strong>

        	</span>
        	2011
        </li>

        <!-- Location-->
        <li class="list-group-item text-right">
        	<span class="pull-left">
        		<strong>Location</strong> 
        	</span> 
        	<%= @band.full_address %>
        </li>

      </ul>
    </div>


      <!-- Member Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
            Members 
            <% if @user_verified%>
              (<%= link_to "Add new member", search_for_user_band_path %>)
            <% end %>
        </div>

        <ul class="list-group">

	        <% if @band.users.empty? %>

		        <h3> No users are members of this band</h3>

	        <% else %>

	        <% @band.users.each do |user| %>
			        <li class="list-group-item text-right">
			        	<span class="pull-left">
			        		<strong class="">Role</strong>
			        	</span>
			        	<%= link_to "#{user.first_name} #{user.last_name}", user_path(user.display_name) %>
			        </li>
		        <% end %>
	        <% end %>

      </ul>
    </div>

      <!-- Band Website Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
        Website   <i class="fa fa-external-link"></i>
        </div>
        <div class="panel-body">
          <a href="#" class="">Band Website</a>
        </div>
      </div>

      <!-- Activity Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
            Activity <i class="fa fa-dashboard"></i>
        </div>

        <ul class="list-group">

        <li class="list-group-item text-right">
            <span class="pull-left">
              <strong class="">Shares</strong>
            </span> 
            125
          </li>
          <li class="list-group-item text-right">
            <span class="pull-left">
              <strong class="">Fans</strong>
            </span> 
            78
          </li>
        </ul>

      </div>

      <!-- Social Media Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Social Media
        </div>
        <div class="panel-body"> 
          <i class="fa fa-facebook-official fa-2x"></i> 
          <i class="fa fa-twitter fa-2x"></i> 
        </div>
      </div>

      <!-- Prevent anyone but the correct user 
           from seeing the edit link -->
           <!-- @user_verified is defined in the controller -->
      <% if @user_verified%>
        <%= button_to 'Edit Profile', edit_band_path(@band),
            class: 'btn btn-block', :method => :get %>
      <% end %>


    </div> <!-- End left side panels -->

    <!-- About Me-->

    <div class="col-sm-9" contenteditable="false">

      <div class="panel panel-default">
        <div class="panel-heading"> 
          Bio
          <% if @user_verified%>
              (<%= link_to "Edit", edit_band_path %>)
          <% end %>
        </div>
        <div class="panel-body"> 
          <%= @band.about_me %>
        </div>
      </div>

       <!-- Musics Panel -->
  
      <div class="panel panel-default" >
        <div class="panel-heading" contenteditable="false">
          Music
          <% if @user_verified%>
              (<%= link_to "Add/Delete Music", edit_musics_band_path(@band.name) %>)
          <% end %>
        </div>

        <div class="panel-body">
          <% if !@musics[0].nil? %>
          <div class="row">
            <div class="col-xs-6 col-md-4" style="overflow-y:scroll; height: 350px">
              <ul>
              <% for music in @musics %>
                 <%= link_to music.name, 
                      fetch_musics_path(music_id: music.id), 
                      remote: true %><hr>

              <%end%>
              </ul>
            </div>
              <div id = "music_show" class="col-xs-6 col-md-4">
                <%= render partial:'band_musics/music_show', 
                locals: { music: BandMusic.find_by(band_id: @band.id) } %>
              </div>
          <% else %>
            <%= @band.name %> has not yet uploaded any music

          <% end %>
          </div><!-- End of row -->
        </div><!-- End of panel body -->

      <!-- Videos Panel -->

      <div class="panel panel-default" >

        <div class="panel-heading" contenteditable="false">
          Videos 
          <% if @user_verified%>
              (<%= link_to "Add/Delete Videos", edit_videos_band_path(@band.name) %>)
          <% end %>
        </div>

        <div class="panel-body">
          <% if !@band.band_videos[0].nil? %>

          <div class="row">
          	<div class="col-xs-4 col-md-4" style="overflow-y:scroll; height: 350px">
              <ul>
          		  <% for video in @band.band_videos %>
                  <%= link_to video.video_name, 
                  fetch_videos_band_path(id: video.id), 
                  remote: true %><hr>
                <% end %>
              </ul>
          	</div>

            <div id = "video_show" class="col-xs-8 col-md-8">
              <%= render partial:'video_show', 
              locals: { video: BandVideo.find_by(band_id: @band.id) } %>   
            </div>

          <% else %>
            <%= @band.name %> has not yet uploaded any videos

          <% end %>

        </div><!-- End of row -->
      </div><!-- End of panel body -->
    </div><!-- End of panel -->

  </div><!-- End of Musics panel -->

</div><!-- End of container -->