
<p id="notice"><%= notice %></p>
<!-- 		style="background-color:rgb(#{@tag.get_red}, #{@tag.get_green}, #{@tag.get_blue})"> -->
<%= @tag.content %><br>
<%= @red   =  @tag.get_red %><br>
<%= green =  @tag.get_green %><br>
<%= blue  =  @tag.get_blue %><br>


<br>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
