<header>

<div class="container">
      <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">

              <!-- Search function -->
                <%= form_tag search_results_users_path, method: :get do %>

                  <li class="gn-search-item">
                    <%= text_field_tag "display_name", nil,
                        class: "gn-search",
                        placeholder: "Search" %>
                    <!-- <input placeholder="Search" type="search" class="gn-search"> -->
                    <a class="gn-icon gn-icon-search"></a>
                  </li>

                <% end %>

                <!-- if the user is logged in, display 'My Profile' and
                      'Log Out' -->
                <% if logged_in? %>

                  <li>
                    <%= link_to "My Profile", current_user,
                      class: "gn-icon gn-icon-profile" %>
                  </li>

                  <!-- if the user has created any bands,
                        show the links to their respective profile
                        pages here -->
                    <% if !session[:band_ids].nil? %>
                      <% for band_id in session[:band_ids] %>
                        <% band = Band.find(band_id) %>

                        <li>
                          <%= link_to band.name, band,
                            class: "gn-icon gn-icon-band" %>
                        </li>
                      
                      <% end %>
                  <% end %>

                  <ul class="gn-submenu">
                    <li>
                      <%= link_to "Log Out", logout_path, method: "delete",
                      class: "gn-icon gn-icon-logout" %>
                    </li>
                  </ul>

                <% else %>

                  <li>
                    <%= link_to "Log In", login_path, 
                    class: "gn-icon gn-icon-login" %>
                  </li>

                <% end %>

                <li>
                  <%= link_to "About", about_path, 
                    class: "gn-icon gn-icon-about" %>
                </li>

                <li>
                  <%= link_to "Help", help_path, 
                    class: "gn-icon gn-icon-help" %>
                </li>

                <li>
                  <%= mail_to "taybrown9000@gmail.com", "Contact",
                    :class => "gn-icon gn-icon-contact" %>
                </li>
              </ul>
            </div>
          </nav>
        </li>
        
        <li><%= link_to "Tremelo", root_path, id: "logo" %></li>

        <li>
          <div class="navbar-links">
            <%= link_to "Help", help_path %>
          </div>
        </li>

        <li>

        <div class="company-social">
          <ul>

            <li>
              <a href="http://www.facebook.com">
                <i class="fa fa-facebook-official fa-2x"></i>
              </a>
            </li>

            <li>
              <a href="http://www.twitter.com">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
            </li>

            <li>
              <a href="https://github.com/tscarff1/Tremelo">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </li>

          </ul>
          </div>

        </li>
      </ul>
  </div>
</header>